---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.25;
  z-index: -1;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* 确保视频在其他内容的背景层 */

}
