---
---

$thumb-size: 180px;
$wrap: 800px;

.citation-container {

}

.citation {
  display: flex;
  flex-direction: row; /* 保持水平排列 */
  flex-wrap: wrap; /* 允许换行 */
  gap: 2%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: var(--rounded);
  background: var(--background);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.citation-image {
  position: relative;

  fill: antiquewhite;
  // box-shadow: var(--shadow);
}

.citation-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.citation-text {
  display: flex;
  gap: 10px;
  height: min-content;
  width: 80%;
  margin-bottom: 20px;
  text-align: left;
  flex-direction: column;
  overflow-wrap: break-word;
  z-index: 0;
}

.citation-title,
.citation-authors,
.citation-details,
.citation-info
.citation-description {
  width: 100%;
}

.citation-title {
  font-weight: var(--semi-bold);
  font-size: large;
  text-align: center;
  margin-top: 20px;
}
.citation-info {
  font-weight: var(--semi-bold);
}

.citation-text > .icon {
  position: absolute;

  right: 20px;
  color: var(--light-gray);
  opacity: 0.5;
  font-size: 30px;
  z-index: -1;
}

.citation-publisher {
  text-transform: capitalize;
}

.citation-description {
  color: var(--gray);
}

.citation-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.citation-buttons .button {
  margin: 0;
}

.citation-text > .tags {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
}

@container (max-width: #{$wrap}) {
  .citation {
    flex-direction: column;
  }

  .citation-image {
    width: unset;

  }
}
